<a href="https://colab.research.google.com/github/atakhan27/Data-Science/blob/main/HW5_Solution.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Case Intro
Term deposits are a major source of income for a bank. A term deposit is a cash investment held at a financial institution. Your money is invested for an agreed rate of interest over a fixed amount of time, or term. The bank has various outreach plans to sell term deposits to their customers such as email marketing, advertisements, telephonic marketing, and digital marketing.

Telephonic marketing campaigns still remain one of the most effective way to reach out to people. However, they require huge investment as large call centers are hired to actually execute these campaigns. Hence, it is crucial to identify the customers most likely to convert beforehand so that they can be specifically targeted via call.

The data is related to direct marketing campaigns (phone calls) of a Portuguese banking institution. The classification goal is to predict if the client will subscribe to a term deposit (variable y).

Content
The data is related to the direct marketing campaigns of a Portuguese banking institution. The marketing campaigns were based on phone calls. Often, more than one contact to the same client was required, in order to access if the product (bank term deposit) would be ('yes') or not ('no') subscribed by the customer or not. The data folder contains two datasets:-

Bank.csv: 45,211 rows and 18 columns ordered by date (from May 2008 to November 2010)

Detailed Column Descriptions
bank client data:

1 - age (numeric)

2 - job : type of job (categorical: "admin.","unknown","unemployed","management","housemaid","entrepreneur","student",
"blue-collar","self-employed","retired","technician","services")

3 - marital : marital status (categorical: "married","divorced","single"; note: "divorced" means divorced or widowed)

4 - education (categorical: "unknown","secondary","primary","tertiary")

5 - default: has credit in default? (binary: "yes","no")

6 - balance: average yearly balance, in euros (numeric)

7 - housing: has housing loan? (binary: "yes","no")

8 - loan: has personal loan? (binary: "yes","no")
# related with the last contact of the current campaign:
9 - contact: contact communication type (categorical: "unknown","telephone","cellular")
10 - day: last contact day of the month (numeric)

11 - month: last contact month of year (categorical: "jan", "feb", "mar", …, "nov", "dec")

12 - duration: last contact duration, in seconds (numeric)

# other attributes:
13 - campaign: number of contacts performed during this campaign and for this client (numeric, includes last contact)

14 - pdays: number of days that passed by after the client was last contacted from a previous campaign (numeric, -1 means client was not previously contacted)

15 - previous: number of contacts performed before this campaign and for this client (numeric)

16 - poutcome: outcome of the previous marketing campaign (categorical: "unknown","other","failure","success")

Output variable (desired target):

17 - y - has the client subscribed a term deposit? (binary: "yes","no")

Missing Attribute Values: None

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
df=pd.read_csv('https://raw.githubusercontent.com/ogut77/DataScience/main/data/Bank.csv',sep = ';')
df

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,no
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,no
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,no
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45206,51,technician,married,tertiary,no,825,no,no,cellular,17,nov,977,3,-1,0,unknown,yes
45207,71,retired,divorced,primary,no,1729,no,no,cellular,17,nov,456,2,-1,0,unknown,yes
45208,72,retired,married,secondary,no,5715,no,no,cellular,17,nov,1127,5,184,3,success,yes
45209,57,blue-collar,married,secondary,no,668,no,no,telephone,17,nov,508,4,-1,0,unknown,no
45210,37,entrepreneur,married,secondary,no,2971,no,no,cellular,17,nov,361,2,188,11,other,no

In [2]:
print(df.shape)
df.info()
df.isnull().sum()

(45211, 17)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45211 entries, 0 to 45210
Data columns (total 17 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        45211 non-null  int64
 1   job        45211 non-null  object
 2   marital    45211 non-null  object
 3   education  45211 non-null  object
 4   default    45211 non-null  object
 5   balance    45211 non-null  int64
 6   housing    45211 non-null  object
 7   loan       45211 non-null  object
 8   contact    45211 non-null  object
 9   day        45211 non-null  int64
 10  month      45211 non-null  object
 11  duration   45211 non-null  int64
 12  campaign   45211 non-null  int64
 13  pdays      45211 non-null  int64
 14  previous   45211 non-null  int64
 15  poutcome   45211 non-null  object
 16  y          45211 non-null  object
dtypes: int64(7), object(10)
memory usage: 5.9+ MB

age          0
job          0
marital      0
education    0
default      0
balance      0
housing      0
loan         0
contact      0
day          0
month        0
duration     0
campaign     0
pdays        0
previous     0
poutcome     0
y            0
dtype: int64

In [3]:
#For object check the data 
for cn in df.columns:
  if(df[cn].dtype==object):
    print(df[cn].value_counts())

blue-collar      9732
management       9458
technician       7597
admin.           5171
services         4154
retired          2264
self-employed    1579
entrepreneur     1487
unemployed       1303
housemaid        1240
student           938
unknown           288
Name: job, dtype: int64
married     27214
single      12790
divorced     5207
Name: marital, dtype: int64
secondary    23202
tertiary     13301
primary       6851
unknown       1857
Name: education, dtype: int64
no     44396
yes      815
Name: default, dtype: int64
yes    25130
no     20081
Name: housing, dtype: int64
no     37967
yes     7244
Name: loan, dtype: int64
cellular     29285
unknown      13020
telephone     2906
Name: contact, dtype: int64
may    13766
jul     6895
aug     6247
jun     5341
nov     3970
apr     2932
feb     2649
jan     1403
oct      738
sep      579
mar      477
dec      214
Name: month, dtype: int64
unknown    36959
failure     4901
other       1840
success     1511
Name: poutcome, dtype: int64
no     39922
yes     5289
Name: y, dtype: int64

In [4]:
def Encoder(df):
          from sklearn import preprocessing
          columnsToEncode = list(df.select_dtypes(include=['category','object']))
          le = preprocessing.LabelEncoder()
          for feature in columnsToEncode:
              try:
                  df[feature] = le.fit_transform(df[feature])
              except:
                  print('Error encoding '+feature)
          return df

In [5]:
df=Encoder(df)
df

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,4,1,2,0,2143,1,0,2,5,8,261,1,-1,0,3,0
1,44,9,2,1,0,29,1,0,2,5,8,151,1,-1,0,3,0
2,33,2,1,1,0,2,1,1,2,5,8,76,1,-1,0,3,0
3,47,1,1,3,0,1506,1,0,2,5,8,92,1,-1,0,3,0
4,33,11,2,3,0,1,0,0,2,5,8,198,1,-1,0,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45206,51,9,1,2,0,825,0,0,0,17,9,977,3,-1,0,3,1
45207,71,5,0,0,0,1729,0,0,0,17,9,456,2,-1,0,3,1
45208,72,5,1,1,0,5715,0,0,0,17,9,1127,5,184,3,2,1
45209,57,1,1,1,0,668,0,0,1,17,9,508,4,-1,0,3,0
45210,37,2,1,1,0,2971,0,0,0,17,9,361,2,188,11,1,0

In [6]:
y = df['y'] #Output
X = df.drop('y',axis=1)
X

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome
0,58,4,1,2,0,2143,1,0,2,5,8,261,1,-1,0,3
1,44,9,2,1,0,29,1,0,2,5,8,151,1,-1,0,3
2,33,2,1,1,0,2,1,1,2,5,8,76,1,-1,0,3
3,47,1,1,3,0,1506,1,0,2,5,8,92,1,-1,0,3
4,33,11,2,3,0,1,0,0,2,5,8,198,1,-1,0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45206,51,9,1,2,0,825,0,0,0,17,9,977,3,-1,0,3
45207,71,5,0,0,0,1729,0,0,0,17,9,456,2,-1,0,3
45208,72,5,1,1,0,5715,0,0,0,17,9,1127,5,184,3,2
45209,57,1,1,1,0,668,0,0,1,17,9,508,4,-1,0,3
45210,37,2,1,1,0,2971,0,0,0,17,9,361,2,188,11,1

In [7]:
from sklearn.model_selection import  train_test_split


X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=17)

 


Q1)Using  Random Forest,XGBoost, Light GBM and Gradient Boosting Classifier with default parameters (no parameter specifications except random_state) calculate Accuracy on Test data. Which method gives the best accuracy on test data

In [8]:
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier
from xgboost import XGBClassifier
from lightgbm import LGBMClassifier

rf = RandomForestClassifier(random_state=17)
xgb = XGBClassifier(random_state=17)
lgbm = LGBMClassifier(random_state=17)
gb = GradientBoostingClassifier(random_state=17)

rf.fit(X_train, y_train)
xgb.fit(X_train, y_train)
lgbm.fit(X_train, y_train)
gb.fit(X_train, y_train)

y_pred_rf = rf.predict(X_test)
y_pred_xgb = xgb.predict(X_test)
y_pred_lgbm = lgbm.predict(X_test)
y_pred_gb = gb.predict(X_test)

acc_rf = accuracy_score(y_test, y_pred_rf)
acc_xgb = accuracy_score(y_test, y_pred_xgb)
acc_lgbm = accuracy_score(y_test, y_pred_lgbm)
acc_gb = accuracy_score(y_test, y_pred_gb)

print("Accuracy of Random Forest: ", acc_rf)
print("Accuracy of XGBoost: ", acc_xgb)
print("Accuracy of Light GBM: ", acc_lgbm)
print("Accuracy of Gradient Boosting: ", acc_gb)

Accuracy of Random Forest:  0.9025037600636999
Accuracy of XGBoost:  0.9043616738918872
Accuracy of Light GBM:  0.9073697248518092
Accuracy of Gradient Boosting:  0.9018844554543042

In [9]:
best_accuracy = max(acc_rf, acc_xgb, acc_lgbm, acc_gb)
best_classifier = ""

if best_accuracy == acc_rf:
    best_classifier = "Random Forest"
elif best_accuracy == acc_xgb:
    best_classifier = "XGBoost"
elif best_accuracy == acc_lgbm:
    best_classifier = "Light GBM"
else:
    best_classifier = "Gradient Boosting"

print("Best classifier: ", best_classifier)

Best classifier:  Light GBM

Q2) Using optuna hyperparmeter optimization technique and 100 trial

 a)find best methods with  parameters  using Cross validation (CV=3) technique for the range of   parameters below. What are the best parameters for the method with highest cross validation accuracy?

"max_depth": range(2, 16), "max_features": range(2, 16)

 b)Evaluate the performance of the  method with highest cross validation accuracy on test data.What is the accuracy value?

In [10]:
!pip install optuna

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting optuna
  Downloading optuna-3.1.0-py3-none-any.whl (365 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 365.3/365.3 KB 6.9 MB/s eta 0:00:00
Collecting colorlog
  Downloading colorlog-6.7.0-py2.py3-none-any.whl (11 kB)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.9/dist-packages (from optuna) (23.0)
Collecting cmaes>=0.9.1
  Downloading cmaes-0.9.1-py3-none-any.whl (21 kB)
Requirement already satisfied: PyYAML in /usr/local/lib/python3.9/dist-packages (from optuna) (6.0)
Requirement already satisfied: sqlalchemy>=1.3.0 in /usr/local/lib/python3.9/dist-packages (from optuna) (1.4.47)
Requirement already satisfied: numpy in /usr/local/lib/python3.9/dist-packages (from optuna) (1.22.4)
Requirement already satisfied: tqdm in /usr/local/lib/python3.9/dist-packages (from optuna) (4.65.0)
Collecting alembic>=1.5.0
  Downloading alembic-1.10.2-py3-none-any.whl (212 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 212.2/212.2 KB 17.7 MB/s eta 0:00:00
Requirement already satisfied: typing-extensions>=4 in /usr/local/lib/python3.9/dist-packages (from alembic>=1.5.0->optuna) (4.5.0)
Collecting Mako
  Downloading Mako-1.2.4-py3-none-any.whl (78 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 78.7/78.7 KB 6.2 MB/s eta 0:00:00
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.9/dist-packages (from sqlalchemy>=1.3.0->optuna) (2.0.2)
Requirement already satisfied: MarkupSafe>=0.9.2 in /usr/local/lib/python3.9/dist-packages (from Mako->alembic>=1.5.0->optuna) (2.1.2)
Installing collected packages: Mako, colorlog, cmaes, alembic, optuna
Successfully installed Mako-1.2.4 alembic-1.10.2 cmaes-0.9.1 colorlog-6.7.0 optuna-3.1.0

In [24]:
import optuna
from sklearn.model_selection import cross_val_score

def objective_rf(trial):
    max_depth = trial.suggest_int("max_depth", 2, 7)
    max_features = trial.suggest_int("max_features", 2, 7)
    clf = RandomForestClassifier(max_depth=max_depth, max_features=max_features, random_state=17, n_jobs=-1)
    return np.mean(cross_val_score(clf, X_train, y_train, cv=3))

def objective_xgb(trial):
    max_depth = trial.suggest_int("max_depth", 2, 7)
    colsample_bytree = trial.suggest_float("colsample_bytree", 0.1, 1)
    clf = XGBClassifier(max_depth=max_depth, colsample_bytree=colsample_bytree, random_state=17)
    return np.mean(cross_val_score(clf, X_train, y_train, cv=3))

def objective_lgbm(trial):
    max_depth = trial.suggest_int("max_depth", 2, 7)
    feature_fraction = trial.suggest_float("feature_fraction", 0.1, 1)
    clf = LGBMClassifier(max_depth=max_depth, feature_fraction=feature_fraction, random_state=17)
    return np.mean(cross_val_score(clf, X_train, y_train, cv=3))

def objective_gb(trial):
    max_depth = trial.suggest_int("max_depth", 2, 7)
    max_features = trial.suggest_int("max_features", 2, 7)
    clf = GradientBoostingClassifier(max_depth=max_depth, max_features=max_features, random_state=17)
    return np.mean(cross_val_score(clf, X_train, y_train, cv=3))


study_rf = optuna.create_study(direction="maximize")
study_rf.optimize(objective_rf, n_trials=50)

study_xgb = optuna.create_study(direction="maximize")
study_xgb.optimize(objective_xgb, n_trials=50)

study_lgbm = optuna.create_study(direction="maximize")
study_lgbm.optimize(objective_lgbm, n_trials=50)

study_gb = optuna.create_study(direction="maximize")
study_gb.optimize(objective_gb, n_trials=50)

In [25]:
best_params_rf = study_rf.best_params
best_score_rf = study_rf.best_value

best_params_xgb = study_xgb.best_params
best_score_xgb = study_xgb.best_value

best_params_lgbm = study_lgbm.best_params
best_score_lgbm = study_lgbm.best_value

best_params_gb = study_gb.best_params
best_score_gb = study_gb.best_value

print("Best parameters for Random Forest: ", best_params_rf)
print("Best cross-validation score for Random Forest: ", best_score_rf)

print("Best parameters for XGBoost: ", best_params_xgb)
print("Best cross-validation score for XGBoost: ", best_score_xgb)

print("Best parameters for Light GBM: ", best_params_lgbm)
print("Best cross-validation score for Light GBM: ", best_score_lgbm)

print("Best parameters for Gradient Boosting: ", best_params_gb)

Best parameters for Random Forest:  {'max_depth': 7, 'max_features': 5}
Best cross-validation score for Random Forest:  0.9720609785033627
Best parameters for XGBoost:  {'max_depth': 4, 'colsample_bytree': 0.9873731275294111}
Best cross-validation score for XGBoost:  0.9851168637573302
Best parameters for Light GBM:  {'max_depth': 5, 'feature_fraction': 0.9106235554247447}
Best cross-validation score for Light GBM:  0.9768307070207198
Best parameters for Gradient Boosting:  {'max_depth': 5, 'max_features': 6}

For Q3 and Q4 ,use the following data.

In [15]:
dr=pd.read_csv('https://raw.githubusercontent.com/ogut77/DataScience/main/data/diamond.csv')
dr

,Carat Weight,Cut,Color,Clarity,Polish,Symmetry,Report,Price
0,1.10,Ideal,H,SI1,VG,EX,GIA,5169
1,0.83,Ideal,H,VS1,ID,ID,AGSL,3470
2,0.85,Ideal,H,SI1,EX,EX,GIA,3183
3,0.91,Ideal,E,SI1,VG,VG,GIA,4370
4,0.83,Ideal,G,SI1,EX,EX,GIA,3171
...,...,...,...,...,...,...,...,...
5995,1.03,Ideal,D,SI1,EX,EX,GIA,6250
5996,1.00,Very Good,D,SI1,VG,VG,GIA,5328
5997,1.02,Ideal,D,SI1,EX,EX,GIA,6157
5998,1.27,Signature-Ideal,G,VS1,EX,EX,GIA,11206
5999,2.19,Ideal,E,VS1,EX,EX,GIA,30507

In [16]:
def Encoder(df):
          from sklearn import preprocessing
          columnsToEncode = list(df.select_dtypes(include=['category','object']))
          le = preprocessing.LabelEncoder()
          for feature in columnsToEncode:
              try:
                  df[feature] = le.fit_transform(df[feature])
              except:
                  print('Error encoding '+feature)
          return df

In [17]:
dr=Encoder(dr)
dr

      Carat Weight  Cut  Color  Clarity  Polish  Symmetry  Report  Price
0             1.10    2      4        2       3         0       1   5169
1             0.83    2      4        3       2         2       0   3470
2             0.85    2      4        2       0         0       1   3183
3             0.91    2      1        2       3         3       1   4370
4             0.83    2      3        2       0         0       1   3171
...            ...  ...    ...      ...     ...       ...     ...    ...
5995          1.03    2      0        2       0         0       1   6250
5996          1.00    4      0        2       3         3       1   5328
5997          1.02    2      0        2       0         0       1   6157
5998          1.27    3      3        3       0         0       1  11206
5999          2.19    2      1        3       0         0       1  30507

[6000 rows x 8 columns]

In [18]:
y = dr['Price'] #Output
X = dr.drop('Price',axis=1)
X

      Carat Weight  Cut  Color  Clarity  Polish  Symmetry  Report
0             1.10    2      4        2       3         0       1
1             0.83    2      4        3       2         2       0
2             0.85    2      4        2       0         0       1
3             0.91    2      1        2       3         3       1
4             0.83    2      3        2       0         0       1
...            ...  ...    ...      ...     ...       ...     ...
5995          1.03    2      0        2       0         0       1
5996          1.00    4      0        2       3         3       1
5997          1.02    2      0        2       0         0       1
5998          1.27    3      3        3       0         0       1
5999          2.19    2      1        3       0         0       1

[6000 rows x 7 columns]

In [19]:
from sklearn.model_selection import  train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=17)

Q3)Using Linear Regression,Decison Tree Random Forest,XGBoost, Light GBM and Gradient Boosting Classifier with default parameters (no parameter specifications except random_state) calculate R2 statistics on test data. Which method gives the best accuracy on test data

In [20]:
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor
from xgboost import XGBRegressor
from lightgbm import LGBMRegressor
from sklearn.metrics import r2_score

lr = LinearRegression()
lr.fit(X_train, y_train)
lr_preds = lr.predict(X_test)
lr_r2 = r2_score(y_test, lr_preds)

dt = DecisionTreeRegressor(random_state=17)
dt.fit(X_train, y_train)
dt_preds = dt.predict(X_test)
dt_r2 = r2_score(y_test, dt_preds)

rf = RandomForestRegressor(random_state=17)
rf.fit(X_train, y_train)
rf_preds = rf.predict(X_test)
rf_r2 = r2_score(y_test, rf_preds)

xgb = XGBRegressor(random_state=17)
xgb.fit(X_train, y_train)
xgb_preds = xgb.predict(X_test)
xgb_r2 = r2_score(y_test, xgb_preds)

lgbm = LGBMRegressor(random_state=17)
lgbm.fit(X_train, y_train)
lgbm_preds = lgbm.predict(X_test)
lgbm_r2 = r2_score(y_test, lgbm_preds)

gb = GradientBoostingRegressor(random_state=17)
gb.fit(X_train, y_train)
gb_preds = gb.predict(X_test)
gb_r2 = r2_score(y_test, gb_preds)


print(f"Linear Regression R2: {lr_r2}")
print(f"Decision Tree R2: {dt_r2}")
print(f"Random Forest R2: {rf_r2}")
print(f"XGBoost R2: {xgb_r2}")
print(f"Light GBM R2: {lgbm_r2}")
print(f"Gradient Boosting R2: {gb_r2}")

Linear Regression R2: 0.823384582969696
Decision Tree R2: 0.95923297527452
Random Forest R2: 0.9799660276771226
XGBoost R2: 0.9803113835881238
Light GBM R2: 0.9812609895578275
Gradient Boosting R2: 0.9739035655494326

In [21]:
models = ['Linear Regression', 'Decision Tree', 'Random Forest', 'XGBoost', 'Light GBM', 'Gradient Boosting']
r2_scores = [lr_r2, dt_r2, rf_r2, xgb_r2, lgbm_r2, gb_r2]
best_model = models[np.argmax(r2_scores)]
print(f"The best model is {best_model} with an R2 score of {max(r2_scores)}")

The best model is Light GBM with an R2 score of 0.9812609895578275

Q4) Using optuna hyperparmeter optimization technique (100 trial)  with Random Forest,XGBoost, Light GBM and Gradient Boosting Regressor

a)find best methods with  parameters  using Cross validation (CV=3) technique for the range of   parameters below. What are the best parameters for the method with highest cross validation R2?

"max_depth": range(2, 7), "max_features": range(2, 7)

 b)Evaluate the performance of the  method with highest cross validation R2 on test data. What is the R2 value?

In [24]:
def objective_rf(trial):
    max_depth = trial.suggest_int("max_depth", 2, 7)
    max_features = trial.suggest_int("max_features", 2, 7)
    clf = RandomForestRegressor(max_depth=max_depth, max_features=max_features, random_state=17, n_jobs=-1)
    return np.mean(cross_val_score(clf, X_train, y_train, cv=3, scoring='r2'))

def objective_xgb(trial):
    max_depth = trial.suggest_int("max_depth", 2, 7)
    colsample_bytree = trial.suggest_float("colsample_bytree", 0.1, 1)
    clf = XGBRegressor(max_depth=max_depth, colsample_bytree=colsample_bytree, random_state=17)
    return np.mean(cross_val_score(clf, X_train, y_train, cv=3, scoring='r2'))

def objective_lgbm(trial):
    max_depth = trial.suggest_int("max_depth", 2, 7)
    feature_fraction = trial.suggest_float("feature_fraction", 0.1, 1)
    clf = LGBMRegressor(max_depth=max_depth, feature_fraction=feature_fraction, random_state=17)
    return np.mean(cross_val_score(clf, X_train, y_train, cv=3, scoring='r2'))

def objective_gb(trial):
    max_depth = trial.suggest_int("max_depth", 2, 7)
    max_features = trial.suggest_int("max_features", 2, 7)
    clf = GradientBoostingRegressor(max_depth=max_depth, max_features=max_features, random_state=17)
    return np.mean(cross_val_score(clf, X_train, y_train, cv=3, scoring='r2'))


study_rf = optuna.create_study(direction="maximize")
study_rf.optimize(objective_rf, n_trials=100)

study_xgb = optuna.create_study(direction="maximize")
study_xgb.optimize(objective_xgb, n_trials=100)

study_lgbm = optuna.create_study(direction="maximize")
study_lgbm.optimize(objective_lgbm, n_trials=100)

study_gb = optuna.create_study(direction="maximize")
study_gb.optimize(objective_gb, n_trials=100)

In [24]:
best_rf_params = study_rf.best_params
best_rf_score = study_rf.best_value

best_xgb_params = study_xgb.best_params
best_xgb_score = study_xgb.best_value

best_lgbm_params = study_lgbm.best_params
best_lgbm_score = study_lgbm.best_value

best_gb_params = study_gb.best_params
best_gb_score = study_gb.best_value


models = ['Random Forest', 'XGBoost', 'Light GBM', 'Gradient Boosting']
best_params = [best_rf_params, best_xgb_params, best_lgbm_params, best_gb_params]
best_scores = [best_rf_score, best_xgb_score, best_lgbm_score, best_gb_score]

best_model_index = np.argmax(best_scores)
best_model = models[best_model_index]
best_model_params = best_params[best_model_index]

print(f"The best model is {best_model} with parameters {best_model_params} and cross-validation R2 of {max(best_scores)}")


if best_model == 'Random Forest':
    clf = RandomForestRegressor(**best_rf_params, random_state=17, n_jobs=-1)
elif best_model == 'XGBoost':
    clf = XGBRegressor(**best_xgb_params, random_state=17)
elif best_model == 'Light GBM':
    clf = LGBMRegressor(**best_lgbm_params, random_state=17)
else:
    clf = GradientBoostingRegressor(**best_gb_params, random_state=17)

clf.fit(X_train, y_train)


y_pred = clf.predict(X_test)
test_r2 = r2_score(y_test, y_pred)
print(f"The R2 value on the test data for the best model ({best_model}) is {test_r2}")

The best model is Gradient Boosting with parameters {'max_depth': 5, 'max_features': 6} and cross-validation R2 of 0.9861873336374272
The R2 value on the test data for the best model (Gradient Boosting) is 0.985108420764872